@charset "UTF-8";
main#conteiner {
    width: 100vw;
    grid-template-columns: 300px 200px 370px 370px ;
    grid-template-rows: 300px 400px;
    grid-template-areas:
     "daniel daniel jonathan kira" 
     "jeanette patrick patrick kira"
    ;




}

main#conteiner >section > h1 {

    margin-top: 10px;
    margin-bottom: 10px;
}

section#jonathan {
    grid-area: jonathan;
}
section#kira {
    grid-area: kira;

} 
section#jeanette {
    grid-area: jeanette;
}
section#patrick {
    grid-area: patrick;
}


